
  <div class="row">
      <div class="col-md-2"></div>

      <div class="col-md-7">
        <h2>Welcome CSIT Students</h2>

        <p>Please log in, or Sign Up if you are a first time user.</p>

        <div class="form-group">
          <span class="pull-right">

            <a href="/login" class="btn btn-lg btn-primary">
              <i class="glyphicon glyphicon-user"></i> Log In
            </a>

            <a href="/register" class="btn btn-lg btn-default">
              <i class="glyphicon glyphicon-pencil"></i> Sign Up
          </a>

        </span>
        </div>
      </div>

      <div class="col-md-3"></div>
  </div>
