
  <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-7">

        <div class="panel panel-warning">
          <div class="panel-heading">

            <div class="panel-title">
              <% if @for %>
                Reset Password for &nbsp;
                <i class="glyphicon glyphicon-user"></i>
                <%= @for %>
              <% else %>
                Reset Password
              <% end %>
              <span class="pull-right"><i class="glyphicon glyphicon-warning-sign"></i></span>
            </div>
          </div>
          <div class="panel-body">

            <form method="POST" action="/password">

              <div cass="form-group">
                <label for="password">Choose a new password</label>
                <input type="password" class="form-control" id="password" name="password"
                  placeholder="new password, 8 or more characrers, do not use your netid password" pattern=".{8,}" required>
              </div>

              <div class="form-group">
                <label for="password2">Retype your password</label>
                <input type="password" class="form-control" id="password2" name="password2"
                  placeholder="re-type your password here" pattern=".{8,}" required>
              </div>

              <% if @admin %>
                <input type="hidden" name="for" value="<%= @for %>">
              <% end %>

              <button type="submit" class="btn btn-warning">Change</button>
              <button class="btn btn-default" onclick="window.history.back();">Cancel</button>


            </form>
          </div>
        </div>

      </div>
      <div class="col-md-3"></div>
  </div>
